* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to ppen the contact form - fixed at the bottom of the page */
.open-button {
    background-color: forestgreen;
    color: white;
    padding: 16px 20px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
      width: 280px;
    font-size: 50px;
     text-transform: uppercase;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: #FFFFFF;
   /* width: 400px;*/
    height: 450px;
    font-size: 20px;


}


.form-popup2 {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: #FFFFFF;
    /* width: 400px;*/
    height: 300px;
    font-size: 20px;


}


/* Add styles to the form container */
.form-container {
    max-width: 800px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;

}

.heading{

    font-size: 40px;
    text-align: center;
    color: forestgreen;
}

.pag{

    background-color: forestgreen;
    color: #FFFFFF;
}

.pgc{

    text-align: center;
    font-size: 18px;

}


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    box-shadow: 0 12px #999;
    margin-top: 10px;

}


.button2 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #c9302c;
    border: none;
    border-radius: 20px;
    box-shadow: 0 12px #999;
    margin-top: 10px;

}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: forestgreen;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
   line-height: 30px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.input-field:focus {
    border: 2px solid forestgreen;
}

/* Set a style for the submit button */
.btn {
    background-color: forestgreen;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
    background-color: black;

}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to ppen the contact form - fixed at the bottom of the page */

/* The popup form - hidden by default */


/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;

}

.login-button{

    font-size: 40px;
    text-transform: capitalize;
}


.radio-select{

    font-size: 20px;

}

.update{
    font-size: 25px;
    color: forestgreen;
}


border-rad{

    border-radius: 20px;
}



